.cardOficina {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: var(--aux-color);
    border-radius: 10px;
    border-top: solid 2px var(--primary-color);
    padding: 1em;
    margin: 1em;
    font-family: var(--secondary-font);
    cursor: pointer;
    transition: .2s ease-in;
}

.card:hover {
    background-color: var(--primary-color);
    color: var(--aux-color);
}

.content {
    font-family: var(--secondary-font);
}