.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--aux-color);
    border-radius: 10px;
    border-top: solid 2px var(--primary-color);
    box-shadow: 2px 2px 4px var(--grey-color);
    padding: 1em;
    text-align: center;
    width: 50%;
    gap: 1em;
}

.close {
    border: 0;
    background: 0;
    font-size: 1.3rem;
    cursor: pointer;
    transition: .2s ease-in;
    font-family: var(--secondary-font);
}

.close:hover {
    opacity: 70%;
    color: #ff0000;
}

.content {
    text-align: center;
}