.close {
   border: 0;
   font-family: var(--secondary-font);
   background: 0;
   font-size: 1.5rem;
   color: var(--aux-color);
   text-shadow: 2px 2px 4px var(--grey-color);
   cursor: pointer;
   transition: .2s ease-in;
}

.close:hover {
   color: #ff0000;
}