.header {
   display: flex;
   justify-content: space-between;
   margin: 1em 1em;
   align-items: center;
   font-family: var(--primary-font);
}

.logo {
   width: 70px;
}

.list {
   list-style: none;
}

.list__item {
   text-decoration: none;
   color: black;
}