.header {
   display: flex;
   justify-content: space-between;
   padding: 1em;
   align-items: center;
   font-family: var(--primary-font);
}

.logo {
   width: 100px;
   transition: .2s ease-in;
}

.logo:hover {
   opacity: 80%;
}

.list {
   list-style: none;
   transition: .2s ease-in;
}

.pages {
   display: flex;
   gap: 1.5em;
}

.list__item {
   text-decoration: none;
   font-size: 1.5rem;
   color: var(--aux-color);
   text-shadow: 2px 2px 5px #000;
}

.list:hover {
   opacity: 80%;
}