:root {
   --primary-font: "Lexend", sans-serif;
   --secondary-font: "Fredoka", sans-serif;
   --primary-color: #00b2e5;
   --primary-color-low-opacity: rgb(0, 178, 229, 0.4);
   --secondary-color: #9E3FFE;
   --aux-color: #FFFFFF;
}