:root {
  --primary-font: "Lexend", sans-serif;
  --secondary-font: "Fredoka", sans-serif;
  --title-font: "Francois One", sans-serif;
  --primary-color: #00b2e5;
  --primary-color-low-opacity: rgb(0, 178, 229, 0.4);
  --secondary-color: #9E3FFE;
  --grey-color: #5B5B5B;
  --amplexus-color: linear-gradient(180deg, rgba(0,178,229,1) 0%, rgba(158,63,254,1) 100%);
  --aux-color: #FFFFFF;
  --input-color: rgb(255, 255, 255, .7);
}

*, *::before, *::after {
   box-sizing: border-box;
 }
 * {
   margin: 0;
   padding: 0;
 }
 body {
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
 }
 img, picture, video, canvas, svg {
   display: block;
   max-width: 100%;
 }
 input, button, textarea, select {
   font: inherit;
 }
 p, h1, h2, h3, h4, h5, h6 {
   overflow-wrap: break-word;
 }
 #root, #__next {
   isolation: isolate;
 }