.developer {
   display: flex;
   flex-direction: column;
   font-family: var(--secondary-font);
   font-size: 1.3rem;
   font-weight: 400;
   align-items: center;
   text-shadow: 2px 2px 5px #000;
}

.dev-picture {
   border-radius: 50%;
   width: 50%;
   border: .3em solid transparent;
   box-shadow: 2px 2px 10px #000;
   transition: .2s ease-in;
}

.dev-picture:hover {
   box-shadow: 4px 4px 20px var(--secondary-color);
   cursor: pointer;
}

.content {
   font-family: var(--primary-font);
   display: flex;
   position: static;
   background-color: var(--aux-color);
   border-radius: 10px;
   border-top: solid 2px var(--secondary-color);
   box-shadow: 2px 2px 4px var(--grey-color);
   padding: 1em;
   justify-content: center;
   gap: .5em;
   margin: 1em;
}

.socialMedia {
   text-decoration: none;
   color: #000;
   transition: .2s ease-in;
}

.socialMedia:hover {
   color: var(--secondary-color);
}