.container {
    text-align: center;
    color: var(--aux-color);
}

.title {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 4rem;
}

.subtitle {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 1.5rem;
}

.paragraph {
    font-family: var(--primary-font);
    margin: 3em;
    font-size: 1.5rem;
}