.header {
    text-align: center;
}

.title {
    
}

.subtitle {
    font-family: var(--primary-font);
    margin: 2em 0;
}

.paragraph {
    font-family: var(--primary-font);
    margin: 5em 10em;
}

.team-title {
    font-family: var(--secondary-font);
    padding: 1em;
}

.team {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.developer {
    font-family: var(--secondary-font);
    font-weight: 700;
}

.dev-picture {
    border-radius: 50%;
}